language: go

go:
  - 1.9.x
  - 1.10.x
  - tip

matrix:
    allow_failures:
        - go: tip
    fast_finish: true

addons:
  postgresql: "9.4"

env:
  - DBNAME=kallax_test DBUSER=postgres DBPASS='' GOPATH=/tmp/whatever:$GOPATH

services:
  - postgresql

before_script:
  - psql -c 'create database kallax_test;' -U postgres

install:
  - rm -rf $GOPATH/src/gopkg.in/src-d
  - mkdir -p $GOPATH/src/gopkg.in/src-d
  - mv $PWD $GOPATH/src/gopkg.in/src-d/go-kallax.v1
  - cd $GOPATH/src/gopkg.in/src-d/go-kallax.v1
  - go get -v -t ./...

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: change
    on_failure: always
